* {
    font-family: 'Rajdhani', sans-serif;
    /* width: 700px; */

}

h1 {
    color: #EC183F;
}

header {
    margin-left: 25%;
    width: 50%
}

main {
    margin-left: 25%;
    margin-bottom: 80px;
    width: 50%
}

footer {
    text-align: center;
}